.count {
  width: 500px;
  margin: 0 auto;
  border: 3px solid green;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
}

.count__value {
  width: 300px;
  margin-top: 30px;
  height: 100px;
  border: 1px solid green;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
}

.count__button {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  margin-top: 50px;
  margin-bottom: 30px;
}

.count__button button {
  height: 50px;
  width: 80px;
  background-color: transparent;
  border-radius: 10px;
  font-size: 20px;
  border: 2px solid green;
}

.count.even .count__value-number {
  background-color: aqua;
}

.count.odd .count__value-number {
  background-color: beige;
}

button:hover {
  background-color: green;
  color: #ffffff;
}
